
* {
margin-top: 30px;
margin-bottom: 10px;
margin-left: 100px;
margin-right: 100px;
}


@keyframes blur-in-out {
0%, 100% {
filter: blur(0px);

opacity: 1;
}
25% {
filter: blur(2,5px);
 opacity: 0.5;
}
50% {

filter: blur(5px);
 opacity: 0;
}
25% {
filter: blur(2,5px);
 opacity: 0.5;
}
100% {

    filter: blur(0px);
    opacity: 1;
}
}


@-webkit-keyframes blur {
    100%, 0% {
        filter: blur(5px);

        opacity: 0;
    }
    25% {
        filter: blur(2.5px);
        opacity: 0.5;
    }
    50% {
        filter: blur(0px);

        opacity: 0.9;
    }
    75% {
        filter: blur(2.5px);
        opacity: 0.5;
    }
    100% {
        filter: blur(5px);

        opacity: 0;
    }
}

@-webkit-keyframes blur1 {
    100%, 0% {
        filter: blur(0px);

        opacity: 1;
    }
    25% {
        filter: blur(2,5px);
        opacity: 0;
    }
    50% {
        filter: blur(0px);

        opacity: 1;
    }
    75% {
        filter: blur(2,5px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);

        opacity: 1;
    }
}


p1 {
    color: rgb(129, 12, 35);
    animation: blur-in-out 20s ease-in-out infinite;
}

p {
    color: green;
    -webkit-animation: blur 20s ease-in-out infinite;
}

p2 {
    color: rgb(129, 12, 35);
    animation: blur1 25s ease-in-out infinite;
}

div {
    text-align: right;
    color: green;
    animation: blur1 25s ease-in-out infinite;
}


body{
    background-color: rgb(175, 152, 152);
    width: 75vw;
    height: 200vh;
    justify-content: center;
    row-gap: 5px;
    font-family: verdana;
    font-size: large;
    line-height: 10px;
    font-size: medium;
}

